.footer {
    display: flex;
    position: relative;
    max-width: 1184px;
    max-height: 18px;
    margin: 0 48px 24px;
    list-style: none;
    justify-content: flex-start;
    gap: 18px;
    padding: 0;
}

@media (min-width: 768px) {
    .footer::after {
        content: '© 2022. Фоменко Николай';
        color: #fff;
        font-family: 'Inter' , Arial, sans-serif;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 400;
        position: absolute;
        max-width: 250px;
        right: 0;
        top: 2px;
    }
}
/* Обратите, пожалуйста, внимание на следующий факт: если я уберу повторяющиеся 
свойства для footer::after (max-width: 767px), в этом случае
страница совсем его не отобразит или не унаследует другие свойства, что находятся
 выше, для другого разрешения. */
@media (max-width: 767px) {
    .footer::after {
        content: '© 2022. Фоменко Николай';
        color: #fff;
        font-family: 'Inter' , Arial, sans-serif;
        line-height: 1;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        margin: 0 24px 24px;
        max-width: 100%;
    }   
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 32px;
        max-width: 186px;
        min-height: 310px;
        margin: 0 16px 24px;
    }
}